body {
    background-color: cornflowerblue;
}
.menu8 {
    width: 100%;
    background-color: #FC9D00;
    font-family: Arial;
}
a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 0px 13px;
    height: 35px;
    text-align: center;
    font-size: 13px;
}
.rb {
    list-style-type: none;
}
.menu {
    display: inline-block;
}
li a:hover {
    background-color: rgb(0, 89, 255);
    color: white;
}
li a.active {
    background-color: #000;
}
h1 {
    text-align: center;
    color: rgb(2, 0, 139);
}

h2 {
    text-align: center;
    color: blue;
}

/* page 1 */
.p{
    background-color: rgba(255, 255, 255, 0.61);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 1em .5%;
}
.gre {
    text-align: left;
    width: 40%;
    height: auto;
}
.img {
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    width: 48%;
    height: auto;
    margin: 1%;
}
.img_cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img_cont > div {
    width: 50%;
    font-size: 0;
}
body.p1 {
    background: url(../image/dd9e1f50ffd690aa9aef00cccdfffa13.jpg) top left no-repeat
}
.p1 h1 {
    text-align: center;
    color: coral;
}


/* media */


@media (max-width: 600px) {
    h1 {
        font-size: 1.25em;
    }
    .img_cont > div {
        width: 100%;
    }
}
