.menu8 {
    width: 100%;
    background-color: #FC9D00;
    font-family: Arial;
}
a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 0px 13px;
    line-height: 35px;
    text-align: center;
    font-size: 13px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
div {
    display: block;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}